<!DOCTYPE html>
<html>
  <head>
    <title>CarHero</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-th"></span>
            <%= message %> 
        </h3>
  </div>