<form method="POST" autocomplete="off" enctype="multipart/form-data">
    <div class="card" id="settings-card">
        <div class="card-header">
            <h4>My Credit</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 offset-3 col-md-6 col-lg-6">
                  <div class="pricing pricing-highlight">
                    <div class="pricing-title">
                      My Credit
                    </div>
                    <div class="pricing-padding">
                      <div class="pricing-price">
                        <div>$100</div>
                      </div>
                    </div>
                    <div class="pricing-cta">
                      <a href="#">Request Withdrawal <i class="fas fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</form>